.table-sm td.row-header {
  padding-top: 15px;
  font-size: 20px;
}
.table-sm td {
  font-size: 13px;
}
#chartarea{
  padding-bottom:200px;
}
.top-margin-xs{
  margin-top: 25px;
}
.top-margin-sm{
  margin-top: 50px;
}
.top-margin-md{
  margin-top: 100px;
}
.top-margin-lg{
  margin-top: 200px;
}
.top-margin-xl{
  margin-top: 400px;
}